body{
    text-align: center;
    font-family: 'Gugi', cursive;
    background: linear-gradient(to right, #4CAF50, #FFFFFF);
}
div{
    border: 2px dashed #1f1bff;
    margin: 10px;
    padding: 5px 30px;
    border-radius: 30px;
    box-shadow: 10px 12px #19ac67;
}
#img{
    width: 50px;
    float: left;
    border-radius: 50%;
}
div h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 10px 5px #999;
}
.titulo {
    font-family: "Comic Sans MS";
}